.QuickContact{
  width: 80%;
  margin: auto;
  outline: solid 1px;  
}
.Header{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.opportunity{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.HairCulture{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.Business{
    width: 80%;
    margin: auto;
    outline: solid 1px;

}
.JobAwarness{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}
.About{
    width: 80%;
    margin: auto;
    outline: solid 1px
}
.Footer{
    width: 80%;
    margin: auto;
    outline: solid 1px;
}